<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fabirt.flutter_foreground_service">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name="io.flutter.app.FlutterApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name">

        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <meta-data
                android:name="io.flutter.embedding.android.SplashScreenDrawable"
                android:resource="@drawable/launch_background" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".AlarmActivity"
            android:theme="@style/AlarmTheme"
            android:launchMode="singleTop"
            android:excludeFromRecents="true"
            android:showOnLockScreen="true"
            android:taskAffinity="com.fabirt.flutter_foreground_service.AlarmActivity">
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />

        <service
            android:name=".FlutterService"
            android:exported="false" />

        <receiver
            android:name=".FlutterAlarmReceiver"
            android:exported="false" />
    </application>

</manifest>